<div class="header">
    <div id="headerButtonDisplay">
    <a href="/">
    <img src="../assets/images/home.png" id="homeButton" class="button">
    </a>
    </div>
    <center>
        <h1 class="logo"> Funny Guy! </h1>
        <h2 class="italics">So, you think you're a Funny Guy?</h2>
        <hr>
    </center>
</div>
<div id="answerQuestions">
    <center>
        <h5> Time to Answer Questions! </h5>
        <h5 id="time-left"></h5>
        <label for="question1">What's the Strangest Place you've made whoopie?</label>
        <textarea class="form-control" id="answerOne" placeholder="Question 1"></textarea>
        <br>
        <label for="question2">Your Favorite Food?</label>
        <textarea class="form-control" id="answerTwo" placeholder="Question 2"></textarea>
        <br>
        <button id="submitAnswers" class="button">Submit</button>
        <h3 id="answerSubAlert">ANSWERS SUBMITTED &check;</h3>
    </center>
</div>

<script src="/assets/js/gameplay.js"></script>
 