<div class="header">
    <div id="headerButtonDisplay">
    <a href="/">
    <img src="../assets/images/home.png" id="homeButton" class="button">
    </a>
    </div>
    <center>
        <h1 class="logo"> Funny Guy! </h1>
        <h2 class="italics">So, you think you're a Funny Guy?</h2>
    </center>
    <hr>
</div>
</center>
<div class="container" id="votingBlock">
    <center>
        <h5 id="voting-time-left"></h5>
        <h3 id="questionHeader">What is your favorite food?</h3>
        <div class="row">
            <div class="col sm-2" id="answerOneBlock" class="answerBlocks">
                <h3 id="answerOneDisplay">sample text</h3>
                <button id="answerOneButton" class="button">VOTE</button>
                <h4 id="voteOneSubDisplay">VOTE ACCEPTED &check;</h4>
            </div>
            <div class="col sm-4" id="answerTwoBlock">
                <h3 id="answerTwoDisplay">sample text</h3>
                <button id="answerTwoButton" class="button">VOTE</button>
                <h4 id="voteTwoSubDisplay">VOTE ACCEPTED &check;</h4>

    </center>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col sm-6">
            <div class="row" id="playerWaitingBlock">
                <center>
                    <h2> Game Title:</h2>
                    <h2 id="displayGameTitle"></h2>
                    <button id="startGameBtn" class="button">Start Game!</button>
                </center>

                <h3>Current Players</h3>
                <ul id="currentPlayers">
                </ul>
            </div>

            <div id="answerQuestions">
                <center>
                    <h5> Time to Answer Questions! </h5>

                    <h5 id="time-left"></h5>
                    <label id="question1"></label>
                    <textarea class="form-control" id="answerOne" placeholder="Question 1"></textarea>
                    <br>
                    <label id="question2"></label>
                    <textarea class="form-control" id="answerTwo" placeholder="Question 2"></textarea>
                    <br>
                    <button id="submitAnswers" class="button">Submit</button>
                    <h3 id="answerSubAlert">ANSWERS SUBMITTED &check;</h3>
                </center>
            </div>
            <div id="initialButtonsandInfo">
                <button id="host" class="button">HOST A GAME</button>
                <button id="player" class="button float-right">JOIN A GAME</button>
                <button id="answerQuestionBtn" class="button">Get a Question</button>

                <br>
                <center>
                    <div class="form-group" id="hostInfoBlock">
                        <label for="hostName">Enter your name</label>
                        <input type="text" id="hostName" class="form-control" placeholder="Your Name Here, Funny Guy!">
                        <br>
                        <label for="gameTitle">Name your Game!</label>
                        <input type="text" id="hostGameTitle" class="form-control" placeholder="Title Name">
                        <br>
                        <center>
                            <button id="submitHost" class="button">HOST</button>
                        </center>
                    </div>

                    <div class="form-group" id="playerInfoBlock">
                        <label for="playerName">Enter your name</label>
                        <input type="text" id="playerName" class="form-control" placeholder="Your Name Here, Funny Guy!">
                        <br>
                        <label for="gameTitle">What Game are you Joining?</label>
                        <input type="text" id="playerGameTitle" class="form-control" placeholder="Game Title Here">
                        <br>
                        <center>
                            <button id="submitPlayer" class="button float-center">JOIN</button>
                        </center>
                    </div>
                    <br>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/game.js"></script>