<div class="container">
    <div class="row">
        <div class="col sm-6">
            <div id="initialButtonsandInfo">
                <button id="setup" class="btn btn-primary">Game Setup</button>
                <br>
            </div>
            <div class="form-group" id="submitQBlock">
                <center>
                    <h5> Have an idea for a question?<br> Submit Below!
                    </h5>
                </center>
                <label for="question-submit">Enter a question:</label>
                <textarea class="form-control" id="question-text" placeholder="And don't forget to make it funny!"></textarea>
            </div>
            <center>
                <button id="submitQuestion" class="btn btn-primary">Submit</button>
            </center>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>