<div class="container" id="mainBody">
    <div class="row">
        <div class="col sm-6">
            <div id="initialButtonsandInfo">
                <a href="game"><button id="setup" class="btn btn-primary">Game Setup</button></a>
                <br>
            </div>
            <div class="form-group" id="QBlock">
                <center>
                    <h5> Have an idea for a question?<br> Submit Below!
                    </h5>
                </center>
                <label for="question-submit">Enter a question:</label>
                <textarea class="form-control" id="question-text" placeholder="And don't forget to make it funny!"></textarea>
            </div>
            <center>
                <button type="submit" id="submitQuestion" class="btn btn-primary">Submit</button>
            </center>
        </div>
    </div>
</div>
<script src="/assets/js/index.js"></script>