.list-group-item {
    line-height: 2.5;
  }
  
  #hostInfoBlock {
  display:none;
  }
  
  #playerInfoBlock {
  display:none;
  }
  
  #playerWaitingBlock {
    display: none;
  }
  
  #gameQuestion {
    display: none;
  }