.list-group-item {
  line-height: 2.5;
}

#hostInfoBlock {
display:none;
}

#playerInfoBlock {
display:none;
}

#playerWaitingBlock {
  display: none;
}

#answerQuestions {
  display: none;
}

#answerTwoDisplay {
  float: right;
}

#votingBlock {
  display: none;
}